<div class="row">
    <div class="col-md-8 mx-auto">
        <h2 class="text-center">Add Doctor</h2>
        <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label>Name:</label>
                <input type="text" formControlName="name" placeholder="Name" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
                <div *ngIf="submitted && f.name.errors">
                    <div *ngIf="f.name.errors.required">Name is required</div>
                </div>
            </div>

            <div class="form-group">
                <label>Patient Total:</label>
                <input type="number" formControlName="patient" placeholder="Patient Total" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.patient.errors }" />
                <div *ngIf="submitted && f.patient.errors">
                    <div *ngIf="f.patient.errors.required">
                        Patient Total is required
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label>No Show:</label>
                <input type="number" formControlName="noshow" placeholder="No Show" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.noshow.errors }" />
                <div *ngIf="submitted && f.noshow.errors">
                    <div *ngIf="f.noshow.errors.required">No Show is required</div>
                </div>
            </div>

            <div class="form-group">
                <label>No Show %:</label>
                <input type="text" formControlName="percentage" placeholder="No Show %" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.percentage.errors }" />
                <div *ngIf="submitted && f.percentage.errors">
                    <div *ngIf="f.percentage.errors.required">
                        No Show % is required
                    </div>
                </div>
            </div>

            <button type="submit" class="btn btn-info">Save</button>
        </form>
    </div>
</div>